body
{
    font-family: Arial, sans-serif;
    padding: 0 16px;
}
nav 
{
    text-align: right;
}
.menu-item
{
    text-decoration: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
    top: -12px;
    margin-right: 16px;
}
#dropdown-menu
{
    position: relative;
  
    top: -4px;
    margin-right: 10px;
}

.menu-item:hover
{
    text-decoration: underline;
}
#profile
{
    width:32px;
    height:32px;
    border-radius: 50%;
    margin-right: 15px;
}

section
{
    text-align: center;
    padding: 12%;
}
#input-wrapper
{
    position: relative;
    width: 582px;
    margin-left: auto;
    margin-right: auto;
}
#input-wrapper> img
{
    position: absolute;
    right: 0;
    top:10px;
    width: 24px;
}
#search-box
{
    width: 100%;
    color: #222;
    border:1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none; 
}
#search-box:hover
{
    box-shadow: 0 1px 6px 0 rgba(33, 22, 22, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
#search-box:focus
{
    box-shadow: 0 1px 6px 0 rgba(33, 22, 22, 0.28);
    border-color: rgba(223, 225, 229, 0);
}


.custom-btn
{
    background-color: #f2f2f2;
    color: #5F6368;
    font-size:14px;
    height:36px;
    padding: 0 16px;
    background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
    border:1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    color: #222;
    margin-top: 24px;
    margin-right: 10px;
}

.custom-btn:hover
{
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,1);
    color: #222;
}
#dropdown-wrapper
{
    display: inline-block;
}
#app-dropdown
{
    width: 285px;
    padding: 28px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    position: absolute;
    right: 100px;
    display: none;
}
#dropdown-wrapper:hover #app-dropdown
{
    display: block;
}

.app-item
{
    display: inline-block;
    width: 84px;
    margin-bottom: 16px;
    padding: 8px 2px;
    text-align: center;
}
.app-item:hover
{
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.app-item > img 
{
    width: 50px;
    height: 50px;
}
.app-item > p 
{
    color: rgba(0,0,0,0.87);
    margin: 0;
    padding-top: 8px;
}
